<section>
  <aside class="filters">
    <div class="product-filters">
      <form method="get" class="filtros-form">
        <select name="order">
          {% for opt in order_fields %}
          <option value="{{ opt.key }}"
            {% if opt.key == current_order %}selected{% endif %}>
            {{ opt.label }}
          </option>
          {% endfor %}
        </select>
        <input type="text"   name="q"       placeholder="Buscar nombre…" value="{{ request.GET.q }}">
        <input type="text"   name="codigo"  placeholder="Buscar código…" value="{{ request.GET.codigo }}">
        <select name="marca">
        <option value="">--Marca--</option>
        {% for m in marcas %}
          <option value="{{ m.id }}" {% if request.GET.marca == m.id|stringformat:"s" %}selected{% endif %}>
            {{ m.nombre }}
          </option>
        {% endfor %}
        </select>
        <select name="categoria">
          <option value="">--Categoría--</option>
          {% for c in categorias %}
            <option value="{{ c.id }}" {% if request.GET.categoria == c.id|stringformat:"s" %}selected{% endif %}>
              {{ c.nombre }}
            </option>
          {% endfor %}
        </select>
        <select name="gondola">
          <option value="">--Góndola--</option>
          {% for g in gondolas %}
            <option value="{{ g.id }}" {% if request.GET.gondola == g.id|stringformat:"s" %}selected{% endif %}>
              {{ g.nombre }}
            </option>
          {% endfor %}
        </select>
        <select name="stock">
          <option value="">--Stock--</option>
          <option value="available" {% if request.GET.stock == "available" %}selected{% endif %}>
            Con stock
          </option>
          <option value="out" {% if request.GET.stock == "out" %}selected{% endif %}>
            Sin stock
          </option>
        </select>
        <button type="submit">Filtrar</button>
      </form>
    </div>
  </aside>
</section>