<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="nav justify-content-center border-bottom pb-3 mb-3">
    <a
      href="/"
      class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
      aria-label="Home"
    >
      <i class="bi bi-house-door-fill" style="font-size: 2rem"></i>
    </a>
    <span class="m-auto">
      <p class="nav-link px-2 text-body-secondary">
        &copy; 2025
        <a href="https://themattdev.com" class="text-body-secondary"
          >TheMattDev</a
        >
      </p>
    </span>
  </div>

  <div>
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Inicio</a>
      </li>
      <li class="nav-item">
        <a href="/productos/listar/" class="nav-link px-2 text-body-secondary">Productos</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Contacto</a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#" aria-label="Instagram">
          <svg class="bi" width="24" height="24" aria-hidden="true">
            <use xlink:href="#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#" aria-label="Facebook">
          <svg class="bi" width="24" height="24">
            <use xlink:href="#facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
