{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock head %}

<nav class="navbar">
  <div class="logo">
    <img src="{% static 'img/Logo_MattDev_DjangoBase.png' %}" alt="Logo de Proyecto Django Base">
  </div>
  <div class="links">
    <a href="{% url 'core:home' %}">Inicio</a>
    <div class="dropdown">
      <a href="#">Productos
        <img src='{% static "iconos/chevron.png" %}'>
      </a>
      <div class="menu">
        <a href="{% url 'productos:listar' %}">Listar Productos</a>
        {% if request.user.is_superuser %}
        <a href="{% url 'productos:crear' %}">Crear Producto</a>
        {% endif %}
      </div>
    </div>
    {% if request.user.is_authenticated %}
    <div class="dropdown">
      <a href="#">Ordenes de Compra
        <img src='{% static "iconos/chevron.png" %}'>
      </a>
      <div class="menu">
        <a href="{% url 'ordenes:crear' %}">Crear Orden de Compra</a>
        <a href="{% url 'ordenes:listar' %}">Listar Ordenes</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="#">{{ request.user }}
        <img src='{% static "iconos/chevron.png" %}'>
      </a>
      <div class="menu">
        <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">
          Cerrar Sesión
        </a>
        <form id="logout-form" action="{% url 'accounts:logout' %}" method="post" >
          {% csrf_token %}
        </form>
        <a href="{% url 'accounts:password_change:change' %}">Cambiar Contraseña</a>
      </div>
    </div>
    {% else %}
    <div class="dropdown">
      <a href="#">
        Acceder
        <img src='{% static "iconos/chevron.png" %}'>
      </a>
      <div class="menu">
        <a href="{% url 'accounts:login' %}">Iniciar Sesión</a>
        <a href="{% url 'accounts:register' %}">Registrarse</a>
        <a href="{% url 'accounts:password_reset:reset' %}">Recuperar Contraseña</a>
      </div>
    </div>
    {% endif %}
  </div>
</nav>