{% load static %}
<script type="module">
    import { showMessage } from "{% static 'js/toast.js' %}";

    document.addEventListener('DOMContentLoaded', function () {
        const copyButton = document.getElementById('copiar-txt-btn');

        if (copyButton) {
            copyButton.addEventListener('click', async () => {
                const url = copyButton.dataset.urlCopyOrden;

                try {
                    const response = await fetch(url);
                    const text = await response.text();

                    await navigator.clipboard.writeText(text);

                    // Ahora sí usará la función real que crea el elemento visual
                    showMessage('¡Texto copiado al portapapeles!', 'success');
                } catch (err) {
                    console.error('Error al copiar:', err);
                    showMessage('Error al copiar el texto.', 'error');
                }
            });
        }
    });
</script>