{% extends "LayoutBase.html" %}

{% block head_title %}Carrito de Compras{% endblock %}

{% block page_title %}Carrito Actual{% endblock %}

{% block page_content %}

<h2>Carrito de Compras</h2>

{% if carrito.items.exists %}
  <form method="POST" action="{% url 'carrito:actualizar'  %}">
    {% csrf_token %}
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio Unitario</th>
          <th>Unidad</th>
          <th>Stock</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
          <th>Quitar</th>
        </tr>
      </thead>
      <tbody>
        {% for item in carrito.items.all %}
          <tr>
            <td>{{ item.producto.nombre }}</td>
            <td>${{ item.producto.precio_unitario }}</td>
            <td>{{ item.producto.unidad_medida.nombre }}</td>
            <td>{{ item.producto.stock }}</td>
            <td>
              <input type="number" name="cantidad_{{ item.producto.codigo }}" value="{{ item.cantidad }}" max="{{ item.producto.stock }}">
            </td>
            <td>${{ item.subtotal }}</td>
            <td>
              <a href="{% url 'carrito:eliminar' item.producto.codigo %}">❌</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <p><strong>Total:</strong> ${{ carrito.total }}</p>

    <button type="submit">Actualizar Cantidades</button>
  </form>

  <form method="POST" action="{% url 'carrito:finalizar' %}">
    {% csrf_token %}
    <button type="submit" class="btn">🛒 Finalizar Compra</button>
  </form>
{% else %}
  <p>Tu carrito está vacío.</p>
{% endif %}

{% endblock %}
