# ======================================================
# === PLANTILLA DE VARIABLES DE ENTORNO (DESARROLLO) ===
# ======================================================

# Copia este archivo a .env.dev y rellena los valores.

# === Configuración de Django ===
# Usa la clave por defecto para desarrollo o genera una nueva.
SECRET_KEY='django-insecure-unaclaveparadesarrollolocal'

# Activa el modo DEBUG para desarrollo.
DEBUG=True

# Hosts permitidos para el entorno de desarrollo.
ALLOWED_HOSTS=127.0.0.1,localhost

# Módulo de settings que Django debe usar.
DJANGO_SETTINGS_MODULE=config.settings.dev


# === Configuración de la Base de Datos (MySQL en Docker) ===
# Estos valores deben coincidir con los que espera el servicio 'db' en docker-compose.dev.yml
DB_ENGINE=django.db.backends.mysql
DB_NAME=ecommerce_dev_db
DB_USER=dev_user
DB_PASS=changeme_db_password
DB_ROOT_PASSWORD=changeme_db_root_password
DB_HOST=db  # Este es el nombre del SERVICIO de la base de datos en docker-compose.yml
DB_PORT=3306


# === Configuración de Email (Desarrollo) ===
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend