# === Python bytecode ===
__pycache__/
*.py[cod]
*$py.class

# === Virtual Environments ===
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# === Django ===
db.sqlite3
media/
staticfiles/
*.log
local_settings.py

# === Environment / Secrets ===
.env
.secrets/
*.env
.env.dev
.env.prod
*.env.prod

# === Docker ===
*.pid
*.seed
*.bak
*.swp
*.swo
*.tmp
*.old
*.orig

# === VS Code ===
.vscode/

# === Test / Coverage ===
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
htmlcov/
.tox/
.pytest_cache/
.hypothesis/

# === Mypy / Type checking ===
.mypy_cache/
.dmypy.json

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === Build / Packaging ===
*.egg-info/
.eggs/
build/
dist/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# === Other ===
*.pot
*.mo
README.dev.md

# === Bootstrap ===
node_modules/
static/bootstrap/
