{% extends "LayoutBase.html" %}
{% load static %}

{% block page_title %}
  {% if object %}Editar Producto{% else %}Crear Nuevo Producto{% endif %}
{% endblock page_title %}

{% block page_content %}
<div class="d-flex align-items-center py-4 bg-body-tertiary">
  <div class="card shadow-lg form-signin m-auto p-2 p-md-3 px-md-4 rounded-3">

    <div class="text-center mb-4">
      <h3 class="mb-3 fw-semibold">
        <i class="bi bi-bag-plus"></i>
        {% if object %}Editar Producto{% else %}Crear Nuevo Producto{% endif %}
      </h3>
      <p class="text-body-secondary my-3">Ingresa los datos del producto</p>
    </div>

    <form method="post" novalidate>
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div class="alert alert-danger py-1 px-2 mb-3 small text-start">
          <ul class="list-unstyled m-0"> 
            {% for error in form.non_field_errors %}
              <li class="mb-0">{{ error }}</li> 
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% for field in form %}
        {% if field.widget.input_type == 'checkbox' %}
          <div class="form-check my-3">
            {{ field }}
            <label class="form-check-label" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
          </div>
        {% else %}

          <div class="form-floating mb-2">
            {{ field }}

            <label for="{{ field.id_for_label }}" 
            {% if field.errors %}
              class="text-danger"
            {% endif %}>{{ field.label }}
            </label>
          </div>

          <!-- Manejo de errores fuera del form floating -->
          {% if field.errors %}
            <div class="alert alert-danger py-1 px-0 mt-1 mb-3 small text-start">
              <ul class="m-0">
              {% for error in field.errors %}
                <li class="mb-0">{{ error }}</li> 
              {% endfor %}
              </ul>
            </div>
          {% endif %}

        {% endif %}
      {% endfor %} 

      <button type="submit" class="btn btn-primary w-100 my-4">
        {% if object %}Guardar Cambios{% else %}Crear Producto{% endif %}
      </button>

    </form>
  </div>
</div>
{% endblock %}