Content-Type: text/plain; charset= "utf-8"
MIME-Version: 1.0
Content-Transfer-Encoding: 8bit
Subject: Password reset on 127.0.0.1:8000
From: webmaster@localhost
To: testuser@email.com
Date: Mon, 2 Jun 2025 20:04:32 -0000
  
  Hola {{ user.get_full_name|default:user.username }},
  
  Recibimos una solicitud para restablecer tu contraseña. Hacé clic en el siguiente enlace para establecer una nueva:
  
  {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
  
  Si no solicitaste esto, podés ignorar este correo.
  
  Gracias,
  El equipo 127.0.0.1:8000
