{% extends "LayoutBase.html" %}
{% load static %}

{% block page_title %}Catálogo de Productos (API Optimized){% endblock %}

{% block head %} 
  <script type="module" src="{% static 'js/catalogo.js' %}" defer></script>
{% endblock head %}

{% block page_content %}
  <div class="container my-2 mx-0">
    {% if request.user.is_superuser %}
    <div class="row col-2 mb-1">
      <a href="{% url 'productos:crear' %}" class="btn btn-primary btn-sm">
        <i class="bi bi-plus"></i> Nuevo Producto
      </a>
    </div>
    {% endif %}

    <div class="mb-1">
      {% comment %} {% include '_includes/_filters.html' %} {% endcomment %}
    </div>
  </div>

  <div id="productos-container" 
    class="row row-cols-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-6"
    data-url-productos="/api/productos/"
    data-is-superuser="{{ request.user.is_superuser|yesno:'true,false' }}">

    <div class="col-12 text-center my-5">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Cargando catálogo...</span>
        </div>
      </div>
</div>
{% endblock %}