{% extends "LayoutBase.html" %}
{% load static %}

{% block page_title %}Pagina de Inicio{% endblock %}

{% block head %} 
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}


{% block page_content %}
  <h1>Bienvenido a MattDev Base</h1>

  <section class="timeline my-5">
  <h2 class="text-center mb-5">Roadmap de Implementaciones</h2>

  <div class="timeline-container">

    <!-- Paso completado -->
    <div class="timeline-item left">
      <div class="timeline-marker done"></div>
      <div class="timeline-content">
        <div class="icon-box">
          <i class="bi bi-1-square"></i>
        </div>
        <h4>Creación MVP del proyecto</h4>
        <p>Implementaciones necesarias como punto de partida</p>
      </div>
    </div>

    <!-- Paso actual -->
    <div class="timeline-item right">
      <div class="timeline-marker current"></div>
      <div class="timeline-content">
        <div class="icon-box">
          <i class="bi bi-2-square"></i>
        </div>
        <h4>🚀 Beta v1</h4>
        <p>Lanzamiento inicial</p>
      </div>
    </div>

    <!-- Paso futuro -->
    <div class="timeline-item left">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <div class="icon-box">
          <i class="bi bi-3-square"></i>
        </div>
        <h4>Mejora del diseño</h4>
        <p>
          Actualizar, desde 0 el diseño. 
          Utilizando como borrador el diseño actual.
          Adquiriendo y mejorando conocimientos, 
          para lograr una mejor experiencia y resultado.
        </p>
      </div>
    </div>

    <!-- Paso futuro -->
    <div class="timeline-item right">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <div class="icon-box">
          <i class="bi bi-4-square"></i>
        </div>
        <h4>Boton "Agregar al carrito"</h4>
        <p>
          Cambio completo de la implementacion actual,
          Pasando de ser un input a un boton que 
          agregue o quite unidades.
          También agregar un badge en el boton carrito, 
          para visualizar la cantidad de items.
        </p>
      </div>
    </div>

    <!-- Paso futuro -->
    <div class="timeline-item left">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <div class="icon-box">
          <i class="bi bi-5-square"></i>
        </div>
        <h4>Boton Agregar a Favoritos</h4>
        <p>
          Se creará un boton para poder agregar a
          favoritos los productos.
        </p>
      </div>
    </div>

    <!-- Paso futuro -->
    <div class="timeline-item right">
      <div class="timeline-marker"></div>
      <div class="timeline-content">
        <div class="icon-box">
          <i class="bi bi-6-square"></i>
        </div>
        <h4>Creación de un Admin Dashboard</h4>
        <p>Completo con estadísticas e
          información importante</p>
      </div>
    </div>


  </div>
</section>

{% endblock %}
