{% extends "LayoutBase.html" %}
{% load static %}

{% block page_title %}Pagina de Inicio{% endblock %}

{% block head %} 
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}


{% block page_content %}
  <h1 class="mb-5">Bienvenido a M&M eCommerce</h1>
  <hr class="shadow">
  <section class="timeline my-0">
  <h2 class="text-center mb-5">Roadmap de Implementaciones</h2>

    <div class="timeline-container">

      <!-- Paso completado -->
      <div class="timeline-item left">
        <div class="timeline-marker done"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-1-square"></i>
          </div>
          <h4>Creación MVP del proyecto</h4>
          <p>Implementaciones necesarias como punto de partida</p>
        </div>
      </div>

      <!-- Paso completado -->
      <div class="timeline-item right">
        <div class="timeline-marker done"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-2-square"></i>
          </div>
          <h4>🚀 Beta v1</h4>
          <p>Lanzamiento inicial en VPS utilizando Docker y nginx</p>
        </div>
      </div>

      <!-- Paso completado -->
      <div class="timeline-item left">
        <div class="timeline-marker done"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-3-square"></i>
          </div>
          <h4>Mejora del diseño</h4>
          <p>
            Mirar css "hardcodeado" a Bootstrap.
            Utilizando como borrador el diseño actual.
            Adquiriendo y mejorando conocimientos, 
            para lograr una mejor experiencia y resultado.
          </p>
        </div>
      </div>

      <!-- Paso completado -->
      <div class="timeline-item right">
        <div class="timeline-marker done"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-4-square"></i>
          </div>
          <h4>Personalización de formularios</h4>
          <p>
            Actualización de los formularios de producto
            utilizando correctamente los labels,
            para no tener que pasar las clases y tags
            mediante filtros y en el template.
            Utilizando el correcto manejo en formularios. 
          </p>
          </p>
        </div>
      </div>

      <!-- Paso completado -->
      <div class="timeline-item left">
        <div class="timeline-marker current"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-5-square"></i>
          </div>
          <h4>Boton "Agregar al carrito"</h4>
          <p>
            Cambio completo de la implementacion actual,
            Pasando de ser un input a un boton que 
            agregue o quite unidades.
            También agregar un badge en el boton carrito, 
            para visualizar la cantidad de items.
            Implementar utilizando una api que remplace las vistas
            y se conecte con .js para implementar asincronía
          </p>
        </div>
      </div>

      <!-- Paso completado -->
      <div class="timeline-item right">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-6-square"></i>
          </div>
          <h4>Nueva función para exportar en PDF</h4>
          <p>
            Utilizando la arquitectura de exportar 
            existente, añadir la opcion de exportar en pdf.
          </p>
        </div>
      </div>

      <!-- Paso actual -->
      <div class="timeline-item left">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-7-square"></i>
          </div>
          <h4>Sección de Ofertas</h4>
          <p>
            Crear un componente en la página de inicio para destacar
            productos seleccionados o en oferta.
          </p>
        </div>
      </div>

      <!-- Paso futuro -->
      <div class="timeline-item right">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-8-square"></i>
          </div>
          <h4>Boton Agregar a Favoritos</h4>
          <p>
            Se creará un boton para poder agregar a
            favoritos los productos.
          </p>
        </div>
      </div>

      <!-- Paso futuro -->
      <div class="timeline-item left">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-9-square"></i>
          </div>
          <h4>Página de Contacto</h4>
          <p>
            Implementar una vista de contacto con un formulario funcional.
            Añadir atributos 'required' y estilos de Bootstrap a los campos
            para mejorar la experiencia de usuario.
          </p>
        </div>
      </div>

      <!-- Paso futuro -->
      <div class="timeline-item right">
        <div class="timeline-marker"></div>
        <div class="timeline-content">
          <div class="icon-box">
            <i class="bi bi-1-square"></i><i class="bi bi-0-square"></i>
          </div>
          <h4>Creación de un Admin Dashboard</h4>
          <p>Completo con estadísticas e
            información importante</p>
          </div>
      </div>

    </div>
  </section>

{% endblock %}
