.page-content {
  padding-top: 5rem;
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 60px;
}

.logo img {
  height: 150px;
  width: auto;
  object-fit: contain;
}