.filters {
  position: fixed;
  top: 5rem;
  left: 24px;
  bottom: 44px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
  border-radius: 16px;
  padding: 1rem;
  background: rgb(0 0 0 / 32%);
  backdrop-filter: blur(30px);
  overflow-y: auto; /* Permite scrollear si hay muchos filtros */
  transition: width 0.4s;
}

/* Contenedor del formulario */
.filtros-form {
  display: grid;
  gap: 10px;
}

/* ==== CUSTOM SELECT ==== */
.select {
  position: relative;
  width: 100%;
}

/* Trigger del dropdown */
.select-trigger {
  background: #2b2a31;
  color: #f9f9f9;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.select-trigger:hover {
  background: #3a3843;
}

/* Opciones ocultas por defecto */
.options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 0; /* cerrado */
  overflow: hidden;
  background: #2b2a31;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  z-index: 10; /* para que no quede detrás */
  transition: max-height 0.3s ease;
}

/* Cuando se abre */
.select.open .options {
  max-height: 250px; /* altura máxima desplegado */
  overflow-y: auto;
}

/* Opción individual */
.option {
  padding: 8px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #f9f9f9;
}

.select.open .options {
  height: var(--options-height, 150px);
}

.option:hover {
  background: rgba(255,255,255,0.15);
}