{% extends "LayoutBase.html" %}

{% block page_title %}Detalle del Pedido{% endblock %}

{% block head %} 
  {% load static %}
  <script src="{% static 'js/copiar-orden.js' %}"></script>
{% endblock head %}

{% block page_content %}

<div class="card shadow-sm p-2 p-md-3 border rounded-3">

  <!-- Encabezado -->
  <div>
    <h2>Detalle de la Orden #{{ orden.id }}</h2>
    <p>Solicitante: {{ orden.solicitante.username }}</p>
    <p>Fecha: {{ orden.creado }}</p>
    
    <div class="card-header">
      <h4 class="mb-0">
        <i class="bi bi-box-seam"></i>
        Items del pedido
      </h4>
    </div>
  </div>
  
  <div class="table-responsive">
    <table class="table table-striped table-sm table-hover align-middle mb-0">
      <thead>
        <tr>
          <th>
            Cantidad x 
            Producto  
            Marca -
            Unidad - 
            Descripcion
          </th>
        </tr>
      </thead>
      <tbody>
        {% for item in orden.items.all %}
        <tr>
          <td>
            {{ item.cantidad }} x {{ item.producto.nombre }} 
            {% if item.producto.marca %}
            {{ item.producto.marca }}
            {% endif %} -
            {% if item.producto.unidad_medida %}
            {{ item.producto.unidad_medida }}
            {% endif %}
            {% if item.producto.descripcion %}
            {{ item.producto.descripcion }}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Acciones para exportar -->
  <div class="container mt-4">
    <h3>Opciones de exportación:</h3>
    <div class="row row-cols-1 row-cols-md-4 justify-content-between g-2 gx-md-4">

      <div class="col">
        <a class="btn btn-outline-success w-100" 
        href="{% url 'ordenes:exportar_txt' orden.id %}">Exportar a TXT</a>
      </div>
      
      <div class="col">
        <a class="btn btn-outline-success w-100" 
        href="{% url 'ordenes:exportar_excel' orden.id %}">Exportar a Excel</a>
      </div>

      <div class="col">
        <button class="btn btn-outline-success w-100" 
        id="copiar-txt-btn" 
        data-url-copy-orden="{% url 'ordenes:exportar_copia' orden.id %}">Exportar Copia</button>
      </div>

      {% comment %}
      <a href="{% url 'ordenes:exportar_pdf' orden.id %}">Exportar a PDF</a>
      {% endcomment %}

      <div class="col">
        <a class="btn btn-outline-primary w-100" 
        href="{% url 'ordenes:listar' %}">Volver a la Lista</a>
      </div>

    </div>
  </div>

</div>
{% endblock %}

