{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>
    
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">   
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    {% block head %}{% endblock %}
  </head>

  <body class="d-flex flex-column min-vh-100"
  {% comment %} // Data attributes for JS {% endcomment %}
  >

  {% include '_includes/_navbar.html' %}

  <main class="flex-grow-1 my-3">
    <div class="container-fluid" style="max-width: 1200px;">
      {% block page_content %}
        <pre>{{ messages }}</pre>

        {% if messages %}
        <div id="alert-container" class="alert-container">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}
      {% endblock %}
    </div>
  </main>

  {% include '_includes/_footer.html' %}

    <!-- JS -->
    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    
    <!-- Scripts personalizados -->
    {% include '_includes/_toast.html' %}
    <script type="module" src="{% static 'js/main.js' %}"></script>
    <script type="module" src="{% static 'js/toast.js' %}"></script>

    {% block extra_scripts %}{% endblock extra_scripts %}

  </body>
</html>