<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      <script src="{% static 'js/toast.js' %}" ></script>
      {% block head %}{% endblock %}
  </head>
  <body 
  data-url-agregar-carrito="{% url 'carrito:agregar_al_carrito_api'%}"
  > // Data attributes for JS
    <header>
      {% include '_includes/_navbar.html' %}
    </header>
      <div class="page-content">
        {% block page_content %}
          {% if messages %}
          <div id="alert-container" class="alert-container">
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
          {% endif %}
        {% endblock %}
      </div>

      {% include '_includes/_footer.html' %}
      {% include '_includes/_toast.html' %}
  </body>
</html>