<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Titulo base{% endblock %}</title>
</head>
<body>

    {% include '_includes/_header.html' %}

    {% if messages %}
      <div class="messages">
        {% for message in messages %}
          {% if message.tags %}<div class="{{ message.tags }}">{% endif %}
            {{ message }}
          {% if message.tags %}</div>{% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% block page_content %}

    {% endblock %}

    {% include '_includes/_footer.html' %}

</body>
</html>