{% extends "LayoutBase.html" %}
{% load static %}

{% block page_title %}Carrito Actual{% endblock %}

{% block page_content %}

<div class="card shadow-sm p-2 p-md-3 border rounded-3">

  <div class="card-header">
    <h4 class="mb-0">
      <i class="bi bi-cart4 me-1"></i>
      Carrito de compras
    </h4>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm table-hover align-middle">
      <thead class="table">
        <tr>
          <th>Producto</th>
          <th>Marca</th>
          <th>Unidad</th>
          <th>Descripción</th>
          <th>Stock</th>
          <th style="width: 140px;">Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
          <th>Quitar</th>
        </tr>
      </thead>
      
      <tbody id="cart-items-container">
        <tr>
          <td colspan="9" class="text-center py-5">
              <div class="spinner-border text-primary" role="status"></div>
              <p class="mt-2">Cargando carrito...</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="cart-summary" class="d-none mt-3">
      <div class="d-flex justify-content-end mb-3">
        <h4 class="fw-bold">Total: <span id="cart-total-price">$0.00</span></h4>
      </div>

      <div class="container text-start ms-0">
        <div class="d-flex flex-row justify-content-end gap-2">

          <div class="col-6 col-md-3">
              <button onclick="location.reload()" class="btn btn-outline-primary w-100">
                  <i class="bi bi-arrow-clockwise"></i> Refrescar
              </button>
          </div>

          <div class="col-6 col-md-3">
            <button id="btn-finalizar-compra" type="button" class="btn btn-outline-success w-100">
              <i class="bi bi-cart-check"></i>
              Finalizar Compra
            </button>
          </div>

        </div>
      </div>
  </div>

</div>
{% endblock %}

{% block extra_scripts %}
    <script type="module" src="{% static 'js/carrito.js' %}"></script>
{% endblock %}